<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <meta name="description" content="Majoring in intertainment content like audio, video, Images, news and alike. for the manor works, we provide how to content and some dev lessons. check uu out for more details">
  
    <meta name="author" content="Masalex8 Tom">
  
   <!-- THE STYLE SHEETS -->
    <link rel="icon" type="png" href="./../../media/images/legitMediaLight.png">
    <link rel="stylesheet" href="./../../styles/phones.css" media="screen and (max-width: 600px)">
    <link rel="stylesheet" href="./../../styles/initial.css">
    <title>download | a song</title>
  
    <!-- scripts -->
    <script src="./../../scripts/main.js" defer></script>
  
  </head>
<body>
  <header>
		<div class="logo">
			<a href="https://masalex8.wordpress.com"><img src="./../../media/images/legitMedia.png" alt="legit media logo"></a>
			<small style="display: block;">LEGIT MEDIA</small>
		</div>

		<nav>
			<img src="./../../media/images/account.png" alt="account icon">
			<ul>
				<li><a href="">Update Profile</a></li>
				<li><a href="">My Uploads</a></li>
				<li><a href="">Images</a></li>
				<li><a href="">My schedule</a></li>
				<li><a href="">Settings</a></li>
			</ul>
		</nav>

		<nav class="menu">
			<div class="dropdown humb" id="dropdown"></div>
			<ul id="elems">
				<li><a href="">Home</a></li>
				<li><a href="">About</a></li>
				<li>
					<span class="submenu">media</span>
					<ul>
						<li><a href="">Audio</a></li>
						<li><a href="">video</a></li>
						<li><a href="">Images</a></li>
					</ul>
				</li>
				<li><a href="">Artists</a></li>
				<li><a href="">Contact</a></li>
			</ul> 
		</nav>
	</header>
</body>
</html>