/* THE MAIN AREAS */
*{
  padding: 0; margin: 0; box-sizing: border-box;
  font: 1.1rem/1.6 Quicksand, Helvetica, sans-serif;
}

body{
  background: #d4d4d4;
}

::selection{
  background: orangered;
}

/* MAIN TAGS */
header{
  position: relative;
  display: flex;
}


footer{
  padding-top: 2rem;
}

h1,h2,h3{
  font-family: Rockwell, serif;
  font-weight: bold;
  margin: .4rem .2rem;
}

h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 1.3rem;
}

p{
  margin: .4rem 0;
}

a{
  text-decoration: none; color: #021db9;
}

hr{
  margin-top: 2rem; color: #d4d4d4;
}

small{
  font-variant-caps: small-caps;
  font: 400 italic .8rem 'Kristen ITC', cursive, sans-serif;
}

article{
  margin: 2rem 1rem 1rem;
}

blockquote{
  width: 80%; text-align: right; box-shadow: 4px 0 12px -6px #333;
  padding: 1rem 2rem; margin-left: auto;
}

button{
  border: none; background-color: black; color: #d4d4d4;
  padding: .2rem .8rem;
}

/* SUPORTED MAINS */
button>a{
  color: #e1e1e1;
}

button.btn2{
  border-radius: 30px; border: currentColor solid 1px;
  background-color: unset; color: #021db9;
}


/* media */
audio{
  max-width: 90%; margin: auto;
}


/* classes global */


/* other classes */
.asong{
  max-width: 300px;

  padding: 1rem; background: rgb(221, 197, 197);
  border-radius: .2rem;
}

.asong>p, .asong span{
  font-family: 'Giddyup Std';
  padding: 0; margin: 0;
}

.asong span{
  color: rgb(82, 82, 82);
}

.song{
  background-color: rgb(224, 194, 180);
  max-width: 250px;
  padding: .4rem .8rem;

  margin-left: .4rem;
}

.song+.song{
  margin-top: .4rem;
}

.artist .file button{
  min-width: 200px; max-width: 80%;
  margin: .2rem auto;
}

.btn{
  padding: .4rem 4rem; border-radius: 24px;
  color: orangered; background-color: transparent;
  display: inline-block;
  border: solid currentColor 1px;
}

.btn-outline2{
  color: rgb(0, 119, 128);
}

.btn.small{
  border-radius: 0; padding: .2rem .8rem;
}

.btn.round-b{
  border-radius: 20px;
}

.btn.circle{
  width: 50px; height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: .4rem;
}



/* the menu area */
nav.menu>ul{
  position: absolute; top: 4.8rem;
  right: -0.8rem;
  display: none;
}

nav ul{
  list-style: none;
}

nav ul ul{
  position: absolute;
  padding-right: .4rem;
  left: -6rem; top: 4rem;
  border-top: none;
  border-right: solid 2px gray;
  display: none;
}

nav ul ul:after{
  content: '';
  position: absolute;
  right: -.7rem;
  top: 6.4%;

  width: 0; height: 0;
  border: 8px solid transparent;
  border-left: solid gray;
}


/* temporry classes, to be named properly after testing */

