/* THE MAIN AREAS */
*{
  padding: 0; margin: 0; box-sizing: border-box;
  font: 1.1rem/1.6 Franklin, Helvetica, sans-serif;
}

body{
  background: #d4d4d4;
}

/* MAIN TAGS */
header{
  
}

main{

}

footer{
  padding-top: 2rem;
}

h1{
  font: bold 1.5rem Rockwell;margin: .4rem .2rem;
}
h2{
  font: bold 1.4rem Rockwell;margin: .4rem .2rem;
}
h3{
  font: bold 1.3rem Rockwell;margin: .4rem .2rem;
}

p{
  margin: .4rem 0;
}

a{
  text-decoration: none; color: #021db9;
}

hr{
  margin-top: 2rem; color: #d4d4d4;
}

small{
  font-variant-caps: small-caps;
  font: 400 italic .8rem 'Kristen ITC', cursive, sans-serif;
}

article{
  margin: 2rem 1rem 1rem;
}

blockquote{
  width: 80%; text-align: right; box-shadow: 4px 0 12px -6px #333;
  padding: 1rem 2rem; margin-left: auto;
}

button{
  border: none; background-color: black; color: #d4d4d4;
  padding: .2rem .8rem;
}

/* SUPORTED MAINS */
button>a{
  color: #e1e1e1;
}

button.btn2{
  border-radius: 30px; border: currentColor solid 1px;
  background-color: unset; color: #021db9;
}

/* media */
audio{
  max-width: 90%; margin: auto;
}


/* classes global */
.file{
  background-color: rgb(153, 149, 149);
  padding: .8rem .4rem; text-align: center;
  display: flex; flex-flow: column nowrap; justify-content: center;
}

.file>*+*{
  padding: .2rem 0;
}

.file small{
  color: rgb(80, 80, 80); font-size: medium;
  /* flex: 1 0 auto; */
}

.file>div:first-of-type{
  display: flex; justify-content: space-between;
  padding: 0 2rem;
}

.file>div:first-of-type>span:first-of-type{
  color: rgb(53, 53, 53);
}

/* other classes */
.artist .file button{
  min-width: 200px; max-width: 80%;
  margin: .2rem auto;
}