/* THE MAIN SECTIONS */

footer{
  height: auto; width: 100%;
  display: flex; flex-flow: column nowrap; align-items: center; justify-content: space-between;
  background: rgb(168, 168, 168);

  padding-bottom: 2.4rem;
}

header{
  height: 6rem; width: 100%; padding: 0 1rem;
  display: flex; align-items: center; justify-content: space-between;
  background: rgb(168, 168, 168);
  position: relative;
}


main{
  width: 90%; margin: auto;
}


/* WITH SOME ASSOCIATIONS - ONLY MAIN */

/* the dropdown menu */
header nav{
  position: absolute; right: 1rem; top: 1.2rem; cursor: pointer;
}

header nav ul{
  background: rgb(168, 168, 168);
  padding: .8rem 2.4rem;
  border-top: 2px solid gray;
}

.humb{
  transform: translateY(1.5rem);
  padding-left: .4rem;
  width: 3rem; height: 2.2rem;

}

.humb>span{
  display: block;
  width: 2.2rem; height: .2rem;
  background: #000; top: 2rem;
  position: absolute;
  top: 50%;
}

  .humb>span::before, .humb>span::after{
    content: ''; position: absolute;
    width: 2rem; height: .2rem; background: inherit;
  }

  .humb>span::before{
    top: .6rem;
  }

  .humb>span::after{
    top: -0.6rem;
  }



header img, nav img{
  height: auto; width: 22%;
}

.hero h3{
  padding-top: 2rem;
}
.hero p{
  padding: 1rem .4rem;
}

/* images styles */
img{
  max-height: 100%; max-width: 100%;
}




@media  screen and (max-width:325px) {
  /* .file div:first-of-type{
    flex-direction: column;
  } */

  .song{
    width: 90%;
    margin: auto;
    font-size: 14px;
  }

  .song .btn[href]{
    padding: 0 !important; margin: 0 !important;
    height: 30px !important; width: 30px !important;
    border: none; font-weight: bold;
  }


}
